:root {
    --orange: #ff0303;
    --bg-color: #e8e8ea;
    --bg-input: #d8d8ef;
    --inverted-bg-color: #041c65;
    --primary-color: #0449e0;
    --inverted-primary-color: #d6dcf5;
    --secondary-color: #277208;
    --inverted-secondary-color: #8a8ae9;

    --header: #FC7300;
    --error: #d34234;
    --loading: #9ddb52;
    --text: #3eccca;
    --link: #BFDB38;
    --link-hover: #FC7300;
    --link-visited: #00425A;
}
